In [1]:
list_from_range=list(range(10,20))
list_from_range
list_from_range[4]

14

In [2]:
range(5)
range(1,5)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [3]:
empty_list=[]
empty_list.append(67)
empty_list.append(96)
empty_list

[67, 96]

In [4]:
p1={"name":"卓",
    "age":30,
    "city":"taipei"}
p1

print(p1["city"])
del p1["age"]
p1.pop("name")
p1

taipei

{'city': 'taipei'}

In [5]:
fruits=["蘋果","香蕉","橘子"]
for fruit in fruits:
    print(fruit)

蘋果
香蕉
橘子

In [6]:
for index,fruit in enumerate(fruits):
    print(index,fruit,sep="->")
    print("=============")

0->蘋果
=============
1->香蕉
=============
2->橘子
=============

In [7]:
cities = {
    'Taipei': '台北',
    'New Taipei': '新北市',
    'Taoyuan': '桃園',
    'Taichung': '台中',
    'Tainan': '台南',
    'Kaohsiung': '高雄',
    'Keelung': '基隆',
    'Hsinchu': '新竹',
    'Chiayi': '嘉義',
    'Hualien': '花蓮'
}
for key,value in cities.items():
    print(f"{key}:{value}")

Taipei:台北
New Taipei:新北市
Taoyuan:桃園
Taichung:台中
Tainan:台南
Kaohsiung:高雄
Keelung:基隆
Hsinchu:新竹
Chiayi:嘉義
Hualien:花蓮

In [8]:
import random
students = []
for i in range(1,51):
    students.append(
        {
            'name':f'student{i}',
            'chinese':random.randint(50,100),
            'english':random.randint(50,100),
            'math':random.randint(50,100),
            'history':random.randint(50,100),
            'health':random.randint(50,100)
        }
    )

students

[{'name': 'student1',
  'chinese': 71,
  'english': 71,
  'math': 69,
  'history': 91,
  'health': 57},
 {'name': 'student2',
  'chinese': 71,
  'english': 93,
  'math': 57,
  'history': 63,
  'health': 77},
 {'name': 'student3',
  'chinese': 54,
  'english': 71,
  'math': 86,
  'history': 50,
  'health': 91},
 {'name': 'student4',
  'chinese': 71,
  'english': 66,
  'math': 77,
  'history': 91,
  'health': 98},
 {'name': 'student5',
  'chinese': 80,
  'english': 98,
  'math': 75,
  'history': 72,
  'health': 86},
 {'name': 'student6',
  'chinese': 93,
  'english': 71,
  'math': 64,
  'history': 82,
  'health': 93},
 {'name': 'student7',
  'chinese': 100,
  'english': 61,
  'math': 50,
  'history': 91,
  'health': 84},
 {'name': 'student8',
  'chinese': 83,
  'english': 95,
  'math': 99,
  'history': 100,
  'health': 84},
 {'name': 'student9',
  'chinese': 63,
  'english': 63,
  'math': 92,
  'history': 82,
  'health': 95},
 {'name': 'student10',
  'chinese': 80,
  'english': 70,
  'math': 63,
  'history': 65,
  'health': 54},
 {'name': 'student11',
  'chinese': 77,
  'english': 78,
  'math': 94,
  'history': 75,
  'health': 76},
 {'name': 'student12',
  'chinese': 90,
  'english': 88,
  'math': 61,
  'history': 98,
  'health': 73},
 {'name': 'student13',
  'chinese': 67,
  'english': 97,
  'math': 77,
  'history': 51,
  'health': 98},
 {'name': 'student14',
  'chinese': 50,
  'english': 62,
  'math': 94,
  'history': 93,
  'health': 52},
 {'name': 'student15',
  'chinese': 56,
  'english': 76,
  'math': 100,
  'history': 77,
  'health': 74},
 {'name': 'student16',
  'chinese': 74,
  'english': 86,
  'math': 55,
  'history': 83,
  'health': 62},
 {'name': 'student17',
  'chinese': 87,
  'english': 74,
  'math': 79,
  'history': 77,
  'health': 57},
 {'name': 'student18',
  'chinese': 81,
  'english': 69,
  'math': 68,
  'history': 66,
  'health': 98},
 {'name': 'student19',
  'chinese': 57,
  'english': 76,
  'math': 100,
  'history': 100,
  'health': 54},
 {'name': 'student20',
  'chinese': 74,
  'english': 75,
  'math': 64,
  'history': 72,
  'health': 99},
 {'name': 'student21',
  'chinese': 87,
  'english': 83,
  'math': 89,
  'history': 79,
  'health': 86},
 {'name': 'student22',
  'chinese': 82,
  'english': 100,
  'math': 93,
  'history': 77,
  'health': 68},
 {'name': 'student23',
  'chinese': 69,
  'english': 82,
  'math': 87,
  'history': 70,
  'health': 61},
 {'name': 'student24',
  'chinese': 72,
  'english': 91,
  'math': 78,
  'history': 99,
  'health': 66},
 {'name': 'student25',
  'chinese': 53,
  'english': 63,
  'math': 78,
  'history': 86,
  'health': 80},
 {'name': 'student26',
  'chinese': 88,
  'english': 73,
  'math': 89,
  'history': 68,
  'health': 79},
 {'name': 'student27',
  'chinese': 66,
  'english': 71,
  'math': 83,
  'history': 86,
  'health': 66},
 {'name': 'student28',
  'chinese': 68,
  'english': 99,
  'math': 95,
  'history': 56,
  'health': 87},
 {'name': 'student29',
  'chinese': 78,
  'english': 65,
  'math': 85,
  'history': 69,
  'health': 99},
 {'name': 'student30',
  'chinese': 54,
  'english': 61,
  'math': 79,
  'history': 93,
  'health': 95},
 {'name': 'student31',
  'chinese': 86,
  'english': 72,
  'math': 63,
  'history': 78,
  'health': 97},
 {'name': 'student32',
  'chinese': 56,
  'english': 79,
  'math': 77,
  'history': 96,
  'health': 68},
 {'name': 'student33',
  'chinese': 75,
  'english': 65,
  'math': 79,
  'history': 53,
  'health': 95},
 {'name': 'student34',
  'chinese': 72,
  'english': 51,
  'math': 75,
  'history': 96,
  'health': 82},
 {'name': 'student35',
  'chinese': 95,
  'english': 69,
  'math': 62,
  'history': 99,
  'health': 67},
 {'name': 'student36',
  'chinese': 78,
  'english': 94,
  'math': 54,
  'history': 98,
  'health': 67},
 {'name': 'student37',
  'chinese': 50,
  'english': 85,
  'math': 58,
  'history': 99,
  'health': 70},
 {'name': 'student38',
  'chinese': 89,
  'english': 73,
  'math': 94,
  'history': 77,
  'health': 85},
 {'name': 'student39',
  'chinese': 65,
  'english': 95,
  'math': 65,
  'history': 85,
  'health': 65},
 {'name': 'student40',
  'chinese': 90,
  'english': 56,
  'math': 50,
  'history': 78,
  'health': 58},
 {'name': 'student41',
  'chinese': 53,
  'english': 82,
  'math': 62,
  'history': 51,
  'health': 94},
 {'name': 'student42',
  'chinese': 84,
  'english': 94,
  'math': 56,
  'history': 55,
  'health': 81},
 {'name': 'student43',
  'chinese': 58,
  'english': 81,
  'math': 83,
  'history': 54,
  'health': 99},
 {'name': 'student44',
  'chinese': 82,
  'english': 79,
  'math': 50,
  'history': 89,
  'health': 92},
 {'name': 'student45',
  'chinese': 53,
  'english': 66,
  'math': 76,
  'history': 99,
  'health': 62},
 {'name': 'student46',
  'chinese': 95,
  'english': 82,
  'math': 99,
  'history': 85,
  'health': 100},
 {'name': 'student47',
  'chinese': 100,
  'english': 93,
  'math': 53,
  'history': 63,
  'health': 59},
 {'name': 'student48',
  'chinese': 55,
  'english': 92,
  'math': 62,
  'history': 60,
  'health': 93},
 {'name': 'student49',
  'chinese': 77,
  'english': 53,
  'math': 51,
  'history': 64,
  'health': 92},
 {'name': 'student50',
  'chinese': 83,
  'english': 100,
  'math': 91,
  'history': 97,
  'health': 72}]

In [10]:
import csv
with open('student.csv',mode='w',encoding='utf-8',newline='') as file:
    writer=csv.DictWriter(file,["name","chinese","english","math","history","health"])
    writer.writeheader()
    writer.writerows(students)